<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css"> 
    <title>formegsuto coin</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/">
          <h1>포메 코인</h1>
        </a>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/add">Add</a>
          </li>
        </ul>
      </nav>
      <h1>{{.PageTitle}}</h1>
    </header>
    <main>
    {{range .Blocks}}
      <section>
        <ul>
          <li>{{.Data}}</li>
          <li>{{.Hash}}</li>
          <li>{{.PrevHash}}</li>
        </ul>
      </section>
    {{end}}
    </main>
    <footer>
      &copy; 2021
    </footer>
  </body>
</html>
